@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@500&display=swap');

#body {
    background-color: rgba(18, 13, 162, 0.361);
    font-family: 'Roboto Serif', serif;
}

#header {    
    border: 2px solid black;
    color: black;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    align-items: center;
    padding: 4px;
}

.header, a {
    border-style: none;
    cursor: pointer;    
  }

.header, img {
    max-width: 19%;
}

.pizarra-acciones {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 85%;
}

canvas {
    margin: 10px 0;
    border: 2px solid rgb(37, 35, 33);
    background-color:  rgba(0, 0, 0, 0.5);
}

.acciones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 16px;
}

.botones {
    display: flex;
    justify-content: space-evenly;
}

.botones button {
    margin: 5px 2px;
    padding: 5px;
    background-color: rgba(24, 17, 233, 0.681);
    font-size: 15px;
    border: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 15px;
}

.nueva-palabra:hover,
.rendirse:hover {
    background-color: rgba(42, 35, 223, 0.485);
}

.nueva-palabra:active {
    background-color: orange;
}

.rendirse:active {
    background-color: rgb(200, 0, 0);
}

.salida:active {
    background-color: rgb(200, 0, 0);
    list-style: none;
    cursor: pointer;
}

.salida {
    list-style: none;
    cursor: pointer;
}

.salida:hover {
    background-color: rgba(235, 15, 15, 0.2);
    color: red;
}

.keywords {
    border: 2px solid (24, 17, 233, 0.681);
    text-align: center;
    padding: 4px;
    background-color:  rgba(0, 0, 0, 0.5);
    margin: 5px auto;
}

.keywords li {
    display: inline-flex;
    justify-content: center;
    width: 40px;
    margin: 4px;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
}

.controller {
    max-width: 90vw;
    display: flex;
    flex-direction: column;
}

.teclado {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 80vw;
    margin-bottom: 2vh;
}

.teclas {
    font-size: 2vmax;
    height: 2em;
    width: 2em;
    margin: 0.2vw;
    border-radius: 2.3vmin;
}

.intentos-restantes {
    margin: 16px auto;
    text-align: center;
    color: lightpink;
    font-size: 20px;
    line-height: 30px;
    text-shadow: 0 0 10px black;
}

.palabra {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 24px;
}

.letra {
    border: 1px solid white;
    color: white;
}

li:hover {
    transform: scale(1.1);
}

li:active {
    background-color: rgb(255, 172, 62);
    color: black;
}

li::selection {
    background: none;
}

footer {
    margin: auto;
    background-color: rgba(24, 17, 233, 0.681);
    font-style: italic;
    color: rgb(255, 255, 255);
    text-align: center;
}

.copyrigth {
    margin-right: 16px;
}

.imgRedes{
    border: 2px solid black;
    color: black;
    justify-content: space-around;
    align-items: center;
    padding: 0px 4px;
}

.imgRedes:hover {
    transform: scale(1.2);
    background-color: lightgray;
    color: gray;
}

.redes span {
    border-style: none;
    margin: 0 4px;
}

.redes img {
    max-width: 4%;
}

/* JAVASCRIPT CSS JAVASCRIPT CSS JAVASCRIPT CSS JAVASCRIPT CSS JAVASCRIPT CSS JAVASCRIPT CSS JAVASCRIPT CSS JAVASCRIPT CSS */
.letra-correcta {
    border: none;
    background-color: rgb(160, 255, 160);
    color: rgb(0, 180, 0);
    pointer-events: none;
}

.letra-incorrecta {
    border: none;
    background-color: rgb(255, 130, 130);
    color: rgb(200, 0, 0);
    pointer-events: none;
}

.letra-bloqueada {
    pointer-events: none;
    border: 1px solid gray;
    color: gray;
}

.campo-letras {
    width: 40px;
    height: 45px;
    padding: 10px;
    margin: 1px;
    text-align: center;
    background-color: white;
}

.palabra-ahorcado-bien {
    width: 40px;
    padding: 10px;
    text-align: center;
    background-color: rgb(160, 255, 160);
    color: rgb(0, 180, 0);
}

.palabra-ahorcado-mal {
    width: 40px;
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 130, 130);
    color: rgb(200, 0, 0);
}

.botonOff {
    pointer-events: none;
}

/* MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA */

@media screen and (max-width: 768px) {
    .pizarra-acciones {
        display: flex;
        flex-direction: column;
    }

    .acciones {
        margin: 0;
    }
}
